* {
    box-sizing: border-box;
}

body {
    background: #573824 url("/images/bg-image.png") no-repeat center/ cover;
    font-family: "Alice", serif;
}


.container {
    width: 800px;
    background-color: #F0E8C2;
    border-radius: 24px;
    margin: auto;
    padding: 24px;
    
}

main {
    padding-inline: 24px;
}

h1, h2 {
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    color: #291B1A; 
}

h2 {
    font-size: 24px;
}


p, li {
    color: #573A37;
    font-size: 16px;
    line-height: 25px;
}
